In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

df = pd.read_csv("Housing.csv")

In [3]:
df = df.drop(columns=["mainroad","guestroom","basement","hotwaterheating","airconditioning","prefarea","furnishingstatus"])

In [4]:
X = df.iloc[:,1:]
Y = df.iloc[:,:1]

In [5]:
X

     area  bedrooms  bathrooms  stories  parking
0    7420         4          2        3        2
1    8960         4          4        4        3
2    9960         3          2        2        2
3    7500         4          2        2        3
4    7420         4          1        2        2
..    ...       ...        ...      ...      ...
540  3000         2          1        1        2
541  2400         3          1        1        0
542  3620         2          1        1        0
543  2910         3          1        1        0
544  3850         3          1        2        0

[545 rows x 5 columns]

In [6]:
model = LinearRegression().fit(X,Y)

In [9]:
joblib.dump(model, "model.joblib")

['model.joblib']

In [8]:
from redis import Redis




con = Redis("localhost", port=6379)

con.ping()

# con.set("tag", "usmane")


con.get("tag")

b'usmane'

In [82]:

ar1 = [1,2,3,5,6,10,5]



largest = 0
second = 0

for val in ar1:
    if largest < val:
        second = largest
        largest = val
    elif val!=largest and val > second:
        second = val
    
print(second)

6

In [102]:
hash_map = {'key':1}


hash_map['a']= 123
print(hash_map)

{'key': 1, 'a': 123}

In [117]:
num1 = [1,2,3]
num2 = [3,6]


arr = list(set(num1+ num2))

[1, 2, 3, 6]