In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/muhammad/Desktop/test_Case/Test/logins.csv")

In [5]:
df.head()

             timestamp  account_id ipv4_address  success
0  2024-03-06T00:22:39         662  10.0.13.103     True
1  2024-11-30T12:39:29           1   10.0.5.241    False
2  2024-02-26T15:13:09          68    10.0.6.32     True
3  2025-03-01T14:39:22         786    10.0.3.99    False
4  2025-01-21T08:33:54          51   10.0.9.205     True

In [ ]:
df['timestamp']